# Build
build/
out/
bin/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# VS Code
.vscode/

# Binaries
*.exe
*.dll
*.obj
*.pdb
*.ilk